.content {
    display: flex;
}



 .content .img {
   
    margin-right: 5%;
    float: left;
    width: 40%;
    height: 300;
}

.content .text {
    height: 500;
    
    
    width: 50%;
}
.content .text ul{
    display: flexbox;
    padding-left: 0%;
}
